<div class="todoItemContainer" (click)="onToggle()">
    <div style="display: flex; flex-direction: row; align-items: center; gap:8px;">
        <button class="deleteButtonStyle" (click)="onDeleteTodoClicked()">X</button>
        <p class="textStyle" [ngClass]="{checkedTodoItem: todo.isComplete, textStyleCompleted: todo.isComplete}">
            {{todo.title}}</p>
    </div>
    <button class="redirectButtonStyle" (click)="$event.stopPropagation();onDetailTodoClicked()">{{isNavigationBack ?
        'Back': 'Detail'}}</button>
</div>