.todoItemContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    background-color: #34919D;
    border-radius: 8px;
    padding: 8px;
    width: 450px;
    cursor: pointer;
    justify-content: space-between;
}

.checkedTodoItem{
    text-decoration: line-through;
}

.deleteButtonStyle{
    height: 20px;
}

.deleteButtonStyle:hover{
    background-color: #EC5E4F;
}

.redirectButtonStyle{
    height: 20px;
}

.redirectButtonStyle:hover{
    background-color: #C3B998;
}

.textStyle{
    color:white;
    overflow: scroll;
}

.textStyleCompleted{
    color:#C3B998;
    overflow: scroll;
}